.bg-image {
    background-image: url("https://previews.dropbox.com/p/thumb/AB3epfDB16dnznTA7t5I4II2xDqS53TJijPBjwnBCFAaJa3oeX8fHsi7tyCSuT-SS5i-QiuE8YIibdNnQ0F5L2-lKo9jnw37PzA3jSU4fCBc9S_64NEsHxOeF3NdjEArXu30KOq2gebOORHScS-kMSsvG-0Hs0M94Ksu67MD5WGKNiPbE_6bMVC7fznjOlIyEWRM05ZYTtfxAPs3WpyceBEZ2CyAyZZRt60_l2aOOyDEi1WNp5eaRMO9bzdrRssPyOVaO_4jvMQ0Tk92QyDoIh0U1PsoQEQgegi5n__FMVyxNAi0spnSqqV4Hwd6B0_4cIY3YsKo9VziIBxTN5n1uSwOndP2AMEOVmEBA4_tsnFMSZDDYqE8ChLFnnf_iP3c6VTbqsV61kjr5KrsceIsXqk5Baob-3XysYRnYfCGVExbmUGeLMNe4pW5404wT2fAf9ejAfmd91JMSaur3-XbpHht7A2NwjE3bcYZl2aBnFFK_8hutmht7vresywqpzTkpuFnmc36UdLwFgBYyvQ4-AxhEwDSc1mtCdpNbO08y_rg6luPQE3ktW93_mluSJlQOq8/p.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .bg-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    }
